@import "../css/_bootstrap.scss";

@font-face {
  font-family: 'mplus-1c-thin';
  src: url('../fonts/mplus-1c-thin.woff') format('woff'), /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
       url('../fonts/mplus-1c-thin.ttf') format('truetype'); /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
}

@font-face {
  font-family: 'mplus-1c-light';
  src: url('../fonts/mplus-1c-light.woff') format('woff'), /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
       url('../fonts/mplus-1c-light.ttf') format('truetype'); /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
}

body {
  font-family: mplus-1c-light,"Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 2;
}

h2{
  font-family: mplus-1c-light,"Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size:2em;
  line-height: 1.5em;
  color:#0645AD;
  margin-bottom: 24px;
}

h3{
  font-family: mplus-1c-light,"Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size:1.6em;
  line-height: 1.5em;
  color:#00ACED;
  margin-bottom: 20px;
}

h3.red{
  color:rgb(173, 6, 6);
}

header{
  background-image: url("../images/bg_header.png");
  background-size:cover;
  padding:32px 0;
}

.btn_download a{
  margin:0 16px 0 0;
}

.btn_download a:hover img{
  opacity:0.8;
  filter:alpha(opacity=80);
  -ms-filter: “alpha( opacity=80 )”;
}

.btn_download a:last-child{
  margin:0;
}

section{
  padding:48px 0;
}

footer{
  background:#00ACED;
  padding: 16px 0;
}

small{
  color: #fff;
  font-size: 0.75em;
}

.mb10{
  margin-bottom:10px;
}

.mb24{
  margin-bottom:24px;
}

.mr16{
  margin-right:16px;
}

.mb40{
  margin-bottom:40px;
}

.bg-gray{
  background: rgb(239, 249, 252);
}

.img-responsive-adjust{
  max-width: 65%;
  height: auto;
  vertical-align: top;
}

.img-responsive-adjust90{
  max-width: 90%;
  height: auto;
  vertical-align: top;
}

.sns{
  list-style-type: none;
  padding-left: 0;
  padding-top: 40px;
}
.sns li {
  margin-bottom: 8px;
}
.sns iframe {
  margin: 0 !important;
}

.btn_appstore{
  pointer-events:none;/*リンクを非リンクに変える*/
  cursor:default;/*マウスカーソルを矢印のまま変えない*/
}

@media (max-width: 767px) {
  section{
    padding:24px 0;
  }
  .btn_download a{
    display:block;
    margin:0 0 16px 0;
  }
  .btn_download a:last-child{
    margin:0;
  }
}


