@import "../css/_bootstrap.scss";
@import url(http://fonts.googleapis.com/earlyaccess/notosansjapanese.css);

body {
	font-family: 'Noto Sans Japanese', sans-serif;
  font-size: 16px;
  line-height: 2;
}

h2{
	font-family: 'Noto Sans Japanese', sans-serif;
  font-size:1.75em;
  line-height: 1em;
  font-weight: 300;
  color:#808080;
}

h3{
	font-family: 'Noto Sans Japanese', sans-serif;
  font-size:1.25em;
  line-height: 1em;
  font-weight: 300;
  color:#808080;
}
h3.blue{
  color: #2FADC9;
}
h3.yellow{
  color: #FFA341;
}
h3.green{
  color: #67AB67;
}
h3.red{
  color: #FF858E;
}

header{
  background-image: url("../images/bg_header.png");
  background-size: cover;
  background-position-x: center;
  padding: 0 0 32px 0;
}
header div.container{
  position: absolute;
  bottom: -32px;
  background-position: bottom left;
  background-image: url("../images/bg_blue.png");
  background-repeat: repeat-x; 
  width: 100%;
}

a.btn_download:hover img{
  opacity:0.7;
  filter:alpha(opacity=70);
  -ms-filter: “alpha( opacity=70 )”;
}

section{
  padding:30px 0;
}

footer{
  background:#1BB0FF;
  padding: 30px 0;
}

small{
  color: #fff;
  font-size: 0.75em;
  font-weight: 100;
}

.mb10{
  margin-bottom:10px;
}

.mb20{
  margin-bottom:20px;
}

.mb30{
  margin-bottom:30px;
}

.mt30{
  margin-top:30px;
}

.mb40{
  margin-bottom:40px;
}

.bg-blue{
  background: #E0F7FA;
}

.bg-yellow{
  background: #FFFDE7;
}

.bg-green{
  background: #F1F8E9;
}

.bg-red{
  background: #FFEBEE;
}

.img-responsive-adjust{
  max-width: 65%;
  height: auto;
  vertical-align: top;
}

.func{
  list-style-type: none;
  padding-left: 0;
  padding-top: 20px;
  line-height: 1.5em;  
}
.func li {
  margin-bottom: 16px;
}

.media{
  list-style-type: none;
  padding-left: 0;
  padding-top: 20px;
  line-height: 1.6em;
}
.media li {
  margin-bottom: 16px;
  padding-left: 30px;
  background-position: 0em 0.1em;
  background-repeat: no-repeat;
}
.media li.apple {
  background-image: url("../images/icon_apple.png");
}
.media li.book {
  background-image: url("../images/icon_book.png");
}
.media li.tv {
  background-image: url("../images/icon_tv.png");
}
.media li.web {
  background-image: url("../images/icon_web.png");
}

.sns iframe {
  margin: 0 !important;
}

@media screen and (min-width:640px) { 
  .w640{
    display: none;
  }
}

@media screen and (max-width:641px) { 
  .w641{
    display: none;
  }
  body {
    font-size: 14px;
  }
  h2{
    font-size:1.5em;
  }
  h3{
    font-size:1.25em;
  }
  header div.bg_iphone{
    background-image: url("../images/m_iphone.png");
    background-repeat: no-repeat;
    background-size: 480px;
    background-position: right 0 bottom 10%;
    background-position-x: center;
    padding: 0 0 0 0;
  }
  header div.container{
    background-image: url("../images/m_bg_blue.png");
    background-size: 100% 25%;
  }
  .media{
    padding-left: 20px;
    padding-right: 20px;
  }
}